<?xml version="1.0"?>
<config>
    <modules>
        <M2E_E2M>
            <version>0.1.0</version>
        </M2E_E2M>
    </modules>
    <global>
        <blocks>
            <e2m>
                <class>M2E_E2M_Block</class>
            </e2m>
        </blocks>
        <helpers>
            <e2m>
                <class>M2E_E2M_Helper</class>
            </e2m>
        </helpers>
        <models>
            <e2m_resource>
                <class>M2E_E2M_Model_Resource</class>
                <entities>
                    <log>
                        <table>m2e_e2m_log</table>
                    </log>
                </entities>
            </e2m_resource>
            <e2m>
                <class>M2E_E2M_Model</class>
                <resourceModel>e2m_resource</resourceModel>
            </e2m>
            <m2e_observer>
                <class>M2E_E2M_Observer</class>
            </m2e_observer>
        </models>
        <resources>
            <e2m_setup>
                <setup>
                    <module>M2E_E2M</module>
                </setup>
            </e2m_setup>
        </resources>
        <events>
            <m2e_e2m_cron_task_ebay_inventory_download_after>
                <observers>
                    <m2e_observer>
                        <type>singleton</type>
                        <class>M2E_E2M_Observer_Ebay_StatisticsInventory</class>
                        <method>process</method>
                    </m2e_observer>
                </observers>
            </m2e_e2m_cron_task_ebay_inventory_download_after>
            <m2e_e2m_cron_task_ebay_inventory_download_completed>
                <observers>
                    <m2e_observer>
                        <type>singleton</type>
                        <class>M2E_E2M_Observer_Ebay_DownloadInventory</class>
                        <method>process</method>
                    </m2e_observer>
                </observers>
            </m2e_e2m_cron_task_ebay_inventory_download_completed>
            <m2e_e2m_change_ebay_settings>
                <observers>
                    <m2e_observer>
                        <type>singleton</type>
                        <class>M2E_E2M_Observer_Ebay_Settings</class>
                        <method>process</method>
                    </m2e_observer>
                </observers>
            </m2e_e2m_change_ebay_settings>
            <m2e_e2m_available_marketplaces>
                <observers>
                    <m2e_observer>
                        <type>singleton</type>
                        <class>M2E_E2M_Observer_Ebay_Settings</class>
                        <method>process</method>
                    </m2e_observer>
                </observers>
            </m2e_e2m_available_marketplaces>
        </events>
    </global>
    <crontab>
        <jobs>
            <e2m_cron>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>e2m/Cron::process</model>
                </run>
            </e2m_cron>
        </jobs>
    </crontab>
    <adminhtml>
        <menu>
            <e2m module="e2m">
                <title>e2MPro</title>
                <sort_order>70</sort_order>
                <action>adminhtml/e2m</action>
            </e2m>
        </menu>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <e2m after="Mage_Adminhtml">M2E_E2M_Adminhtml</e2m>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
