.value {
    width: auto
}

.tooltip-image {
    cursor: help;
}

.tooltip-message {
    position: absolute;
    background: none repeat scroll 0 0 #D7E5EF;
    border: 1px solid #2BB0D7;
    border-radius: 3px;
    padding: 0.8em 1em;
    display: block;
    margin-top: -5px;
    margin-right: 20px;
    cursor: default;
    z-index: 9999;
    word-wrap: normal;
    font-weight: normal;
}

.tooltip-message strong {
    color: black !important;
}

.tooltip-message img {
    border: 0;
    margin-top: -17px;
    width: 24px;
    height: 24px;
    margin-right: -25px;
    float: right;
}

.tooltip-message a {
    color: orange !important;
}

.tooltip-right {
    margin-left: 17px;
    margin-right: 15px;
    padding-left: 10px;
}

.tooltip-left {
    margin-right: 17px;
    margin-left: 15px;
}

.tooltip-left img {
    margin-left: -25px;
    float: left;
}
